{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://res.cloudinary.com/adeizaa/image/upload/v1663361890/Nasmp_frontend/Logo_image_mfo28w.png" type="image/x-icon">
    <title>NASMP . {% block title %} {% endblock %}</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500&display=swap"
     rel="stylesheet">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <!-- <link rel="stylesheet" href="{% static 'Css/lightgallery.css' %}"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/css/lightgallery.css" 
    integrity="sha512-xX0WBcNRiozRxsfAMA8p5mGDsEn2p5grPGIlN+/qn7XysCpITWlPJ0o0rTv940V1SxYuosUXZdDw2GI17TMAaQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/css/lightgallery-bundle.css" 
    integrity="sha512-99QS7EyPaI2GCrlnsXgQIyeqiblx5KxSXitcae8/6dW3pEoLYyIMehBL7kTANqFCLPPk/jadeTrdeb6yM+LDJA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

     <link rel='stylesheet' type='text/css' href="{% static 'Css/style.css'%}">
  </head>
  <body>
    <!-- navbar -->
    <p class="py-2 py-md-2 w-100 text-center my-0 beforenav px-2">
      Welcome to Nigerian Army School of Military Police
    </p>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex">
        <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/adeizaa/image/upload/v1663361890/Nasmp_frontend/Logo_image_mfo28w.png" alt="">
          </a>
          <div class=" mr-0 d-none d-sm-block">
            <p class="p-0 mb-0 mt-3 logofirsttext" >Nigerian Army School of Military Police</p>
            <p class="p-0 m-0 logosecondtext">Exemplo Ducemus</p>
          </div>
      </div>
    

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-lg-5">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"> Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}"> About </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'winglist' %}"> Academics</a>
          </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'gallery' %}"> Gallery </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact' %}"> Contact  </a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <a class="nav-link ml-lg-5 ml-sm-0 p-2 mr-3 text-white w-auto" href="{% url 'logout' %}" id="signin"><i class="fa fa-key text-white" aria-hidden="true"></i> Staff Logout  </a>
        {% else %}
        <a class="nav-link ml-lg-5 ml-sm-0 p-2 mr-3 text-white w-auto" href="{% url 'login' %}" id="signin"><i class="fa fa-key text-white" aria-hidden="true"></i> Staff Login  </a>
        {% endif %}
      </div>
    </nav>



  <!-- main body section that will be used as default margin for other pages -->

  
{% block content %}    


{% endblock %}





<!-- footer -->
<footer class=" mt-5 pt-5 text-white">
    <div class="row mx-lg-2 mx-3">
      <div class="col-lg-4">
        <div class="d-flex align-items-center mt-lg-5  ">
          <img src="https://res.cloudinary.com/adeizaa/image/upload/v1663361890/Nasmp_frontend/Logo_image_mfo28w.png" alt="">
          <p class="text-white ml-1">
            Nigerian Army School of <br>
             Military Police
          </p>
        </div>
      </div>
  <!-- 
  
    quick links
  
   -->
  
   <div class="col-lg-4">
    <p class="pt-lg-0 pt-3 lead">Quick Links</p>
    <div class="d-block">
      <ul class="m-0 p-0">
       <a href="{% url 'home' %}" class="d-block  text-white w-auto"><span>&gt;</span> Home</a>
     
       <a href="{% url 'about' %}" class="d-block text-white "><span>&gt;</span>  About</a>
     
      <a href="{% url 'winglist' %}" class="d-block text-white "><span>&gt;</span>Academics</a>
     
       <a href="{% url 'gallery' %}" class="d-block text-white "><span>&gt;</span> Gallery</a>
    
      <a href="contact.html" class="d-block text-white "><span>&gt;</span> Contact</a>
      </ul>
      </div>
  </div>
  
  
  
  <!-- contact  -->
  <div class="col-lg-4">
    <p class="lead pt-lg-0 pt-3">Contact Us</p>
    <div>
      <div class="d-flex">
        <i class="fa fa-map-marker mt-1" aria-hidden="true"></i>
        <p class="ml-2">
          Nigerian Army School of Military Police Basawa Barracks,
           Basawa - Zaria, Kaduna State 
        </p>
      </div>
      <div class="d-flex ">
        <i class="fa fa-phone mt-1" aria-hidden="true"></i>
        <p class="ml-2">
          <a href="tel:+2348138149482" class="text-white">+2348138149482
          </a>
        </p>
      </div>
      <div class="d-flex ">
        <i class="fa fa-envelope mt-1" aria-hidden="true"></i>
        <p class="ml-2">
          <a href="mailto: hq.nasmp@army.mil.ng" class="m-0 text-white">hq.nasmp@army.mil.ng
          </a>
        </p>
      </div>
    </div>
  </div>
  
  </div>
   
  
  
  </footer>
  
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
     crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

     <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/lightgallery.min.js" 
     integrity="sha512-2KYdY5Sg3LCcbEnJ6JSoDyFDpgoDHPHl+4ZFE1DV23IVqiCSsjfkmuhJ0Uu6VTkvqaRtQDZ/LyhmMXvWUfymSw=="
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/plugins/zoom/lg-zoom.min.js" 
     integrity="sha512-5u0plpLx7LGRhJ8yg3MN9v7+XAV3EVEcpolQ0j11CAuffZDFw5/O5gD6YVkQuKUcjYx8wff8YZFkSwXw9YyBpA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/plugins/thumbnail/lg-thumbnail.min.js"
      integrity="sha512-HbdAMrTXUriN/BCnuq4aj1BHa0vPqXMRokZoAI/BAbEfIt49PY5De3jP5u2lDFJetPpx7LkLHm8glbP1NjxxiQ==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <script type="text/javascript">
      lightGallery(document.getElementById('lightgallery')); 
  </script>

    </body>
  </html>